<!DOCTYPE html>
<html>
    <head>
        <title>hotel management</title>
    </head>
    <link rel="stylesheet" href="website.component.css">
    <body>
      <div class="pimg1">
          <div class="ptext">
             
                 <strong>Welcome!</strong> 
              
          </div>
      </div>
      <section class="section section-light">
          <h2>Management</h2>
          <p>
            Hotel management can be defined as "a branch of business and study, that addresses itself to the operational aspects of a hotel as well as a wide range of associated themes," according to a widely accepted definition.
           
          </p>
      
          </section>
          <div class="pimg1">
            <div class="ptext">
               
            </div>
        </div>
        <section class="section section-drak">
            <h2>Hotel & Spa</h2>
            <p>
                Kinship Hotel & Spa has a variety of lodging options, including rooms and suites. Your trip at (CN) will be an amazing vacation thanks to all of this and the tranquil setting of our lovely gardens.
             
            </p>
            </section>
            <div class="pimg2">
                <div class="ptext">
                    <!-- <span class="border trans">
                        Image Three Text
                    </span> -->
                </div>
            </div>
            
                <div class="pimg3">
                    <div class="ptext">
                        
                            <strong>"Courtesy makes a consumer a walking advertisement," the saying goes.</strong>
                        
                    </div>
                </div>
    </body>
</html>
