<!-- <p>header works!</p> -->
<section> 
    <mat-toolbar  class='navbar' color='primary'>
      <div>IMPERIAL HOTEL
       <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
       <mat-icon> local_hotel</mat-icon>
    
      </div> 
    
    
      <div class="navigation">
        
        
        <a mat-raised-button  href="#" routerLink=""><mat-icon>chalet</mat-icon>Home</a>
        <a  mat-raised-button routerLink="/aboutus"><strong> ABOUT US</strong></a>
     <!-- <button mat-raised-button >
          <a [routerLink]="['/aboutus']">About Us</a>
          </button> -->
         <!-- <button mat-raised-button ><a routerLink="/aboutus"routerLinkActive="active">About Us</a></button>  -->
        <a  mat-raised-button  routerLink="/contactus"><strong><b>CONTACT US</b></strong></a> 
        <a mat-raised-button routerLink="/login"><strong>LOGIN </strong></a>
        <a mat-raised-button routerLink="/"><strong>LOGOUT</strong></a>
     
      </div>
      
    </mat-toolbar>
    </section> 
