



        
        <div class="row" >
            
               
            <div class="col-md-3">
                  <img class="img-circle" src="assets/contactus/1.jpeg" style="width:200px"alt="">  
                <div class="text-center">
                    MITCHELLE, <strong>OWNER</strong><br>
                    Email: MITCHELLE@resort.com
               
                
            
            
           
        </div>
            </div>
            
            <div class="col-md-3">
                 <img class="img-circle" src="assets/contactus/2.jpg" style="width:200px" alt="" float="left"> 
                
                <div class="text-center">
                    IVORY, <strong>MANAGER</strong><br>
                    Email:  IVORY@resort.com
                </div>
                
            </div>
            
        
            <div class="col-md-3">
             <img class="img-circle" src="assets/contactus/3.jpg" style="width:200px" alt="">
                <div class="text-center">
                    JENIFFER, <strong>MANAGER</strong><br>
                    Email: JENIFFER@resort.com
                </div>
            </div>
            
            <div class="col-md-3">
                <img class="img-circle" src="assets/contactus/5.jpg" style="width:200px" alt=""> 
                <div class="text-center">
                    MADHU, <strong>Receptionist</strong><br>
                    Email: Madhu@resort.com
                </div>
            </div>
            
        </div>
        
        <div class="stickyicon-list">
            <a href="https://www.facebook.com/rvkumar29" class="facebook">
            <i class="fa fa-facebook"></i>
            </a>
            <a href="#twitter" class="twitter">
            <i class="fa fa-twitter"></i>
            </a>
            <a href="#linkedin" class="linkedin">
            <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://instagram.com/rk_icy_?igshid=YmMyMTA2M2Y=" class="instagram">
            <i class="fa fa-instagram"></i>
            </a>
            </div>


        

 
