
<div class="profile-card">
    <div class="card-header">
        <div class="pic">
            <img src="https://d4nkomjewj4zw.cloudfront.net/static/Hacks/images/success-tick.gif" alt="">
        </div>
        <div class="name">Payment Successful</div>
        <div class="sm">
        </div>
        <!-- <a href="" class="contact-btn">Completed</a> -->
        <a   href="" class="contact-btn" routerLink="/" >Completed </a>
        <!-- <a  mat-raised-button routerLink="/">Logout</a> -->
        <!-- <a mat-raised-button routerLink="/">Logout<mat-icon>logout</mat-icon></a> -->
    </div>
    
    <!-- <a  mat-raised-button routerLink="/">Logout</a> -->
   
<div class="carousel-item active">
    <img src="assets/booking/22.jpg"
                 
      height="500px" width="350px" style="background-image: 100%;" alt="...">
  </div>
