<!-- <p>aboutus works!</p> -->
<div class="col-md-12">
    <div>
        <div class="row-md-4" >
            <h3>Eat what your heart desires</h3>
            <img src='assets/aboutus/1.jpg' height="200px" width="400px" alt="Image"/>
        </div>
        <div class="row-md-8"><p>If you're going to skimp, don't do so by eliminating your free breakfast buffet. 
            Your lineup of cold cereal, fresh bananas, apples and perhaps an assortment of plain and fancy bagels or varieties of yogurt is likely attracting more business than you think.</p>
        </div>
    </div>

    <div>
            <div class="row-md-4" >
                <h3>Wfi service at your touch</h3>
                <img src='assets/aboutus/2.jpg' height="200px" width="400px" alt="Image"/>
            </div>
            <div class="row-md-8"><p>With complimentary Wi-Fi, you can lounge or work in comfortable and functional areas throughout the hotel.
                Wireless is freedom.It's about being unleashed from the telephone cord and having the ability to be virtually anywhere when you want to be. 
            </p>
            </div>
    </div>


    <div>
            <div class="row-md-4" >
                <h3>Room Vibe</h3>
                <img src='assets/aboutus/3.jpg' height="200px" width="400px" alt="Image"/>
            </div>
            <div class="row-md-8"><p>We tailor your hotel experience. Expect top-notch bedding with a mattress customised to your preferences, soft white lines, and a really cosy blended down and feather duvet to keep you warm at night.</p>
            </div>
    </div>

<div>
    <div class="row-md-4" >
        <h3>Refreshments</h3>
        <img src='assets/aboutus/4.jpg' height="200px" width="300px" alt="Image"/>
    </div>
    <div class="row-md-8"><p>Enjoy savoury and sweet treats upon arrival or at strategic intervals throughout meetings. You will be given enticing sweets, light drinks, and a choice of fresh fruit in your accommodation or during on-site meetings.</p>
    </div>
</div>

<div>
    <div class="row-md-4" >
        <h3>Whirlpool</h3>
        <img src='assets/aboutus/5.jpg' height="200px" width="400px" alt="Image"/>
    </div>
    <div class="row-md-8"><p>In a chic and welcoming setting, guests may unwind and restore themselves. You'll feel revitalised by a mini-spa experience thanks to the sophistication of our bath and wellness spaces.</p>
    </div>
</div>

    
</div>


