<section class="header">
  <nav>

      <a href="" routerLink="/dashboard">

          <div class="carousel-item active">
              <img src="assets/images.png"
                           
                height="150px" width="150px" style="border-radius: 50%;" alt="...">
            </div>

      </a>
      <div class="nav-links" id="navLinks">

          <div class="d-flex">
              <ul>
                <li><a href="" routerLink="/dashboard"><mat-icon>dashboard</mat-icon>DASHBOARD</a></li>
                <li><a href="" routerLink="/owner"> OWNER </a></li>
                  <!-- <li><a href="" routerLink="/reservation">BOOKING DETAILS</a></li>
                  <li><a href="" routerLink="/room">ROOM DETAILS</a></li>
                  <li><a href="" routerLink="/department">DEPARTMENT</a></li>
                  <li><a href="" routerLink="/inventory">INVENTORY</a></li>
                  <li><a href="" routerLink="/staff">STAFF</a></li> -->
              </ul>
          </div>
      </div>
  </nav>

<div class="container">
    <div classs="card">
     
     <h3 class="text-center" style="color: rgb(231, 238, 238);">LIST OF DEPARTMENTS</h3>
       <div class="card-body">
         <table class="table table-stripped" style="background-color: lightcyan ;">
           <thead> 
               <th>department_id</th>
               <th>department_name</th>
               
               <th>Action</th>
           </thead>
             <tbody>
              <tr *ngFor = "let data of departments" style="color: #7272da;">                              
                    <td>{{data.department_id}}</td>
                    <td>{{data.department_name}}</td>
                  
                    <td>
         <button (click) = "onEditDepartment(data)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <mat-icon>edit</mat-icon>  </button>
         &nbsp;<button class="btn btn-danger" (click) = "deleteDepartment(data)"><mat-icon>delete</mat-icon></button>
         </td>
          </tr>
          </tbody>
           </table>
           <button (click) = "clickAddDepartment()" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <mat-icon>add</mat-icon>Department </button>
             </div>
         </div>
     
     </div>
   
     <!-- Modal - 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <label class="form-label">DEPARTMENTS DETAILS</label>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="formValue">
                  
           <div class="mb-3">
                  <label class="form-label">department_id</label>
                  <input type="text" formControlName="department_id" class="form-control"  id="exampleInputEmail">
              </div>
   
                  <div class="mb-3">
                      <label class="form-label">department_name</label>
                      <input type="text" formControlName="department_name" class="form-control"  id="exampleInputEmail">
                  </div>
                 
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  type="button" (click)="updateDepartment()" class="btn btn-primary">Update Department</button>
            <button  type="button" (click)="addDepartment()" class="btn btn-primary">Add Department</button>
          </div>
        </div>
      </div>
   