<!-- <p>owner works!</p> -->
<section class="header">
    <nav>
  
      <!-- <a href="" routerLink="/dashboard"> -->
  
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images.png"
                           
                height="150px" width="150px" style="border-radius: 50%;" alt="...">
            </div>
          </div>
          
        </div>
      <!-- </a> -->
  </nav>
  <nav>
      <div class="nav-links" id="navLinks">
       
        <div class="d-flex">
          <ul>
            <li><a mat-raised-button href="" routerLink="/"><strong>HOME</strong></a></li>
          <!-- <li><a href="" routerLink="/manager">♔мⒶηⒶ𝐆𝔼𝐫</a></li> -->
          
            <!-- <li><a href="" routerLink="/reservation">BOOKING DETAILS</a></li> -->
            <!-- <li><a href="" routerLink="/room">ROOM DETAILS</a></li> -->
            <!-- <li><a href="" routerLink="/department">DEPARTMENT</a></li> -->
            <!-- <li><a href="" routerLink="/inventory">INVENTORY</a></li>
            <li><a href="" routerLink="/staff">STAFF</a></li> -->
            
          </ul>
          
        </div>
        <br>
        <div class="margin-left">
          <h2 ><b>GET DETAILS OF </b> </h2>
          <ol>
            <b>
     
        
        <li><a mat-raised-button href="" routerLink="/room"><strong>ROOM DETAILS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/guest"><strong>GUEST DETAILS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/staff"><strong>STAFF</strong></a></li><br>

            </b>
          </ol>
      </div>
      </div>
    </nav>
    
    <div class="text-box">
      <!-- <br >WELCOME!!<br> -->
      
    
     <!-- <p>WELCOME......</p>
      <P> to BACK BENCHERS .</P>  -->
      <!-- <br >WELCOME!!<br> -->
      
    </div>
  
  
  </section>