
<router-outlet></router-outlet>
<section class="header">
  <nav>

    <a href="" routerLink="/dashboard">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images.png"
                         
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
          </div>
        </div>
      </div>
    </a>

    <div class="nav-links" id="navLinks">

      <div class="d-flex">
        <ul>
          <li><a mat-raised-button href="" routerLink="/">HOME</a></li>
          <li><a mat-raised-button href="" routerLink="/dashboard">DASHBOARD  </a></li>
          <li><a mat-raised-button href="" routerLink="/owner"> OWNER </a></li>
          <li><a mat-raised-button href="" routerLink="/manager">MANAGER</a></li>
          <li><a mat-raised-button href="" routerLink="/receptionist"> RECEPTIONIST </a></li>
           <!-- <li><a href="" routerLink="/">Logout</a></li> -->
          <!-- <li><a href="" routerLink="/room">ROOM DETAILS</a></li>
          <li><a href="" routerLink="/department">DEPARTMENT</a></li>
          <li><a href="" routerLink="/inventory">INVENTORY</a></li>
          <li><a href="" routerLink="/staff">STAFF</a></li> -->
          
        </ul>
        
      </div>
    </div>
  </nav>
  
  <div class="text-box">
    <!-- <br >WELCOME!!<br> -->
    
  
   <!-- <p>WELCOME......</p>
    <P> to BACK BENCHERS .</P>  -->
    <!-- <br >WELCOME!!<br> -->
    
  </div>


</section>